---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
---
<Layout>
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-44">
			<img class = "rounded-full w-12 h-12 mb-4"
			src="https://i.pinimg.com/736x/e1/7a/7b/e17a7bf0f6743276d44f411eb6f998cd.jpg"
			alt="foto facur"
			/>
			<div class="flex items-center">
				<a class="flex justify-center items-center" href="https://www.linkedin.com/in/facu-rossi-a5839a278/" target="_blank" rel="noopener">
					<Badge>Available for hire</Badge>
				</a>
			</div>
		<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
			Hola, Soy Facu 
		</h1>
		
		<h2 class="text-xl opacity-75">Estudiante de Lic. Analisis De Sistemas en la Universidad de Buenos Aires.
			De Buenos Aires, Argentina . Especializado en ...
		</h2>

		<ul></ul>
		</section>
	</main>
</Layout>
