---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
---
</section>
<Layout>
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-44">
		<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">Hola, Soy Facu 
			<div class="flex justify-center items-center">
				<a class="flex justify-center items-center" href="https://www.linkedin.com/in/facu-rossi-a5839a278/" target="_blank" rel="noopener">
					<Badge>Available for hire</Badge>
				</a>
			</div>
		</h1>
		<h2 class="text-xl opacity-75">Estudiante de Lic. Analisis De Sistemas en la Universidad de Buenos Aires.
			De Buenos Aires, Argentina . Especializado en ...
		</h2>

		<ul></ul>
		</section>
	</main>
</Layout>
