<header class="flex justify-center items-center py-5 max-w-6xl w-full mx-auto px-4">
    
    <span></span>
    
    <nav class="flex flex-row gap-x-6 md:gap-x-10 opacity-80 text-sm md:text-base">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>

</header>