---
const { class: className, id } = Astro.props;
---

<section
    id={id}
    class:list={[
        "w-full max-w-7xl mx-auto px-4 md:px-6 py-20 md:py-32 scroll-mt-24",
        className,
    ]}
>
    <slot />
</section>
