---
import Header from '../components/Header.astro';
---


<!doctype html>
<html lang="es">
  <head>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <meta name="description" content="Portfolio profesional de [Tu Nombre] - Desarrollador Web">
  </head>
  
  <body class="antialiased">
    <Header />
    <main class="container">
      <slot />
    </main>
  </body>
</html>

<style>
	:root{
		color-scheme: light dark;
	}

	html{
		font-family: system-ui, sans-serif;
	}

	body {
		background: #050505;
		display: flex;
		justify-content: center;
		min-height: 100hv;
	}
</style>
