---
import Header from '../components/Header.astro';
import '@fontsource-variable/onest'
---

<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Facu Rossi - Portfolio</title>
</head>
<body class="text-zinc-100">
	<div class="fixed inset-0 -z-50 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]"></div>
	<Header />
	
	<main class="max-w-6xl mx-auto px-4 py-24">
	  <slot />
	</main>
  </body>
</html>

<style>
	:root{
		color-scheme: light dark;
	}

	html{
		font-family: 'Onest Variable' system-ui, sans-serif;
		height: 100%;
	}

	body {
		min-height: 100vh;
	}
</style>
