---
import Header from '../components/Header.astro';
import '@fontsource-variable/onest'
---

<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Facu Rossi - Portfolio</title>
</head>
<body class="bg-zinc-900 text-zinc-100 min-h-screen">
	<div class="absolute inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]"></div>
	<div class="fixed inset-0 -z-50 overflow-hidden">
	  <div class="absolute inset-0 bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-zinc-900 via-zinc-900/80 to-zinc-900"></div>
	  <div class="absolute inset-0 bg-[url(/grid.svg)] bg-repeat [mask-image:radial-gradient(ellipse_at_center,_black_50%,transparent_80%)]"></div>
	</div>
	
	<Header />
	
	<main class="max-w-6xl mx-auto px-4 py-24">
	  <slot />
	</main>
  </body>
</html>

<style>
	:root{
		color-scheme: light dark;
	}

	html{
		font-family: 'Onest Variable' system-ui, sans-serif;
	}

	body {
		background: #050505;
		display: flex;
		flex-direction: column;
		min-height: 100hv;
	}
</style>
