---
import Header from '../components/Header.astro';
import '@fontsource-variable/onest'
---


<!doctype html>
<html lang="es">
  <head>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <meta name="description" content="Portfolio profesional de [Tu Nombre] - Desarrollador Web">
  </head>
  
  <body class="antialiased">
	

	<div class="relative h-full w-full bg-slate-950">
		<div class="absolute bottom-0 left-[-20%] right-0 top-[-10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]">
			</div>
			<div class="absolute bottom-0 right-[-20%] top-[-10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]">
			</div>
		</div>

	<div class="flex flex-col min-h-screen">
	  <Header />
	  <main class="flex-grow container mx-auto px-4">
		<slot />
	  </main>
	</div>
  </body>

</html>

<style>
	:root{
		color-scheme: light dark;
	}

	html{
		font-family: 'Onest Variable' system-ui, sans-serif;
	}

	body {
		background: #050505;
		display: flex;
		flex-direction: column;
		min-height: 100hv;
	}
</style>
